{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

{% block content %}  
<br><br><br><br>
<div class="container" style=" text-align: center; margin-top:100px">
<h2 >Tech Reference Blog</h2>
<h6 style="color: brown;">You can Bookmark it for your use too</h6>
</div>
<p style=" text-align: center; margin-top:50px; color:rgb(255, 0, 0)">comming soon</p>

{% endblock content%}
</body>
<style>
.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
  outline: dashed 1px black;
}

</style>
</html>